* {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
   background: rgb(255, 255, 255);
   margin: 0;
}

.button {
   background-color: rgb(187, 0, 0);
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   /* border-radius: 5px; */
   color: floralwhite;
   font-size: 17px;
   font-weight: 50px;
   border-color: rgb(187, 0, 0);
}

.textBox {
   background-color: #fff;
   border: solid 5px #fff;
   border-radius: 5px;
   max-width: 200px;
   min-width: 200px;
   font-size: 17px;
   font-weight: 50px;
   color: black;
}

#question {
   color: rgb(0, 0, 0);
}

.container {
   background-color: rgb(172, 172, 172);
   margin-left: 13%;
   margin-right: 13%;
   padding: 20px;
   padding-left: 4%;
   padding-right: 4%;
   border-radius: 20px;
   color: rgb(0, 0, 0);
}

.container1 {
   background-color: rgb(172, 172, 172);
   margin-left: 30%;
   margin-right: 30%;
   padding: 20px;
   padding-left: 8%;
   padding-right: 4%;
   border-radius: 20px;
   color: rgb(0, 0, 0);
}

::placeholder {
   color: black;
   opacity: 1;
}

body,
html {
   height: 100%;
   margin: 0;
   font: 400 15px/1.8 "Lato", sans-serif;
   color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
   position: relative;
   /* opacity: 0.65; */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.bgimg-1 {
   background-image: url(../assets/9.png);
   height: 100%;
}

.caption {
   position: absolute;
   left: 0;
   top: 50%;
   width: 100%;
   text-align: center;
   color: #000;
}

.caption span.border {
   background-color: #111;
   color: #fff;
   padding: 18px;
   font-size: 25px;
   letter-spacing: 10px;
}

#subHead {
   /* letter-spacing: 1px; */
   text-transform: uppercase;
   font: 28px "Lato", sans-serif;
   color: #000;
}

#correct {
   color: rgb(20, 168, 57);
}

#wrong {
   color: rgb(231, 39, 39);
}
